In [29]:
#Basics, functions, loops and conditions, OOP in python, working with operating file, working with data and time

# first code

In [1]:
print("my name is Amu")

my name is Amu

In [2]:
print("hello world")

hello world

In [3]:
print("1,5")

1,5

In [33]:
 a = 5
 b = 10 
print(a + b)

15

In [4]:
print(5**3)

125

In [5]:
print(100/5)

20.0

In [6]:
print(60*10)

600

In [37]:
salary_$ = 10000
print(salary)

SyntaxError: invalid syntax (1789405929.py, line 1)

In [7]:
a = 3
a += 2
print(a)

5

In [8]:
a = 5
b=5.5
print(type(a))
print(type(b))
print(type(a).__name__)

<class 'int'>
<class 'float'>
int

In [9]:
a=4.5
print(type(a))

<class 'float'>

In [41]:
b = int(a)
print(b)

4

In [10]:
b = 5
a = float(b)
print(a)

5.0

In [43]:
a = 4.56
print(round(a,1))

4.6

In [44]:
 a = "i love you"
print(type(a))

<class 'str'>

In [45]:
a = 1
b = str(a)
print(type(b))

<class 'str'>

In [46]:
triple_string = """" I love you """
print(triple_string)

" I love you

In [47]:
a = "amu says 'i love you'"
print(a)

amu says 'i love you'

In [48]:
s1 = "Amu"
s2 = "Adhikari"
print(s1 +" "+s2)

Amu Adhikari

In [49]:
a = "my name is {}".format("amu")
print(a)

my name is amu

In [11]:
c = "nice"
print(c[3])

e

<h1>Splitting text</h1>

In [12]:
country = "Brazil_aBr"
print(country[0:6])
print(country[6:])
print(type(country))

Brazil
_aBr
<class 'str'>

In [52]:
a = country.split('a')
print(type(a))

<class 'list'>

In [ ]:
a = country.split('a')[1] 
print(type(a))

In [14]:
fruit = "mangoandbanana"

In [15]:
fruit.split('and')

['mango', 'banana']

In [16]:
fruit.split('a')[:4]

['m', 'ngo', 'ndb', 'n']

In [ ]:
h = "I_am.working_in.australia_sydney.office"
b = h.split('.')[2].split('_')[0]
print(b)

<h1> list in python </h1>

fruits = ["mango", "orange","banana", "apple"]
print(fruits[2])
fruits.index("banana")

<h3>Determine the index number of degree element 'B.It' in row_2, and store the answer as a string in a variable named degree_index.
Determine the index number of the age element 23 in row_4, and store the answer as an integer in a variable named age_index

In [ ]:
row_1 = ['Prabhat', 24, 'Nepali', 'B.Sc.Cs.It', 79.1]

row_2 = ['Sunil', 23, 'Nepali', 'B.It', 83.2]

row_3 = ['Bhawana', 22, 'Canadian', 'B.E.Computer', 78.4]

row_4 = ['Shiva', 23, 'Australian', 'B.It', 72.5]

In [ ]:
degree_index = str(row_2.index("B.It"))
print(type(degree_index))

In [ ]:
age_index = int(row_4.index(23))
print(type(age_index))

<h1>Retriving values in a list(Question)</h1>
    
    
<ul><li>Assign the second element from the list row_1 to a variable named age_1. Don't forget that the indexing starts at 0.</li></ul>
Assign the second element from the list row_2 to a variable named age_2.
Assign the second element from the list row_3 to a variable named age_3.
Assign the second element from the list row_4 to a variable named age_4.
Add the four numbers retrieved together and save the sum to a variable named total.
Divide the sum (now saved in the variable total) by 4 to get the average number of age for the first four rows. Assign the result to a variable named average.

In [ ]:
row1 = ["a", 20, "c", "d"]
row2 = ["e", 25, "g", "h"]
row3 = ["i", 30, "k", "l"]
row4 = ["m", 15, "o", "p"]

In [ ]:
age_1 = row1[1]
age_2 = row2[1]
age_3 = row3[1]
age_4 = row4[1]
total = age_1 + age_2 + age_3 + age_4
average = total/4
print(total)
print(average)

In [ ]:
fruit = ["apple", "mango", "grapes", "banana"]
print(fruit[-1])

<h1> list slicing </h1>

In [17]:
a = [1,2,3,4,5,6]
print(a[0:4])

[1, 2, 3, 4]

In [ ]:
print(a[-3:])

In [ ]:
fruits_dataset = [["Banana", "1 dozen", 85], ["Pineapple", "1 Kg", 140],
                  ["Apple", "1 Kg", 220], ['Orange', "1 Kg", 120]]

In [ ]:
a = (fruits_dataset[-1])

In [ ]:
print(a[-1])

In [ ]:
amu = ["Amu", 23, "Butwal" ]
abhishek = ["Abhishek", 25, "Butwal"]
radhika = ["radhika", 39, "Butwal"]
Family = [amu, abhishek, radhika]
a = (Family[0])
print(type(a[1]))

<h1> list concatenation method </h1>

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

In [ ]:
list4 = list1*2
print(list4)

<h1> Insert method </h1>

In [ ]:
l1 = [21, 22, 23, 25]
l1.insert(0, "cat")
l1.insert(3, "ball")
print(l1)

In [ ]:
l1 = ['a', 'b', 'c', 'd']
l2 = ['e', 'f', 'g', 'h']
l1.append(l2)
print(l1)

In [ ]:
h = [1,2,3]
i = [4,5,6]
h.extend(i)
print(h)

In [ ]:
k = [10,11,12,56]
k.pop(2)

In [ ]:
k

In [ ]:
j = ["apple", "ball", "cat"]
j.clear()
j

In [ ]:
l = [2,4,6,8]
del l[0]
print(l)

<h1> Dictonary

In [ ]:
a = {"name": "amu",
     "age": 24,
     "address": {"city": "sydney",
                "state": "NSW",
                "suburb": "Auburn"},
     "sex": "male"
     
    }

print(len(a))

<h1> Functions in python </h1>
Built in function

In [ ]:
a_list = [4444, 8897, 6340, 9896, 4835, 4324, 10, 6445,
          661, 1246, 1000, 7429, 1376, 8121, 647, 1280,
          3993, 4881, 9500, 6701, 1199, 6251, 4432, 37]

In [ ]:
sum = 0
for item in a_list:
    sum = sum + item
print(sum)

<h1> User defined function

In [ ]:
def my_name():
    print("amu")
my_name()

<h1> Parameterised Function

In [ ]:
def square(number):
    result = number * number
    return result

In [ ]:
print("The square is",str(square(10)))

<h1> function with default agrument

In [ ]:
def square(number = 2):
    result = number * number
    return result

In [ ]:
square(3)

In [ ]:
def multiplication(a=2,b=5):
    result = a * b
    return result

In [ ]:
multiplication()

<h1> Create a function named mul_5() that does the following:

Takes a number as the input (name the input variable as you wish)
Multiply the integer 5 to that number.
Returns the result of the multiplication.
Use the mul_5() function to do the following:
Multiply by 5 to the number 20 — assign the result to a variable named mul_20
Multiply by 5 to the number 16 — assign the result to a variable named mul_16

In [ ]:
def mul_5(a):
    result = 5 * a
    return result

In [ ]:
mul_20 = mul_5(20)
print(mul_20)

In [ ]:
mul_16 = mul_5(16)
print(mul_16)

<h1> keyword argument

In [ ]:
def subs(a=15,b=5):
    result = a - b
    return result

In [ ]:
subs(b=20,a=30)

In [ ]:
header = ['Name', 'Gender', 'Age', 'Faculty', 'Semester', 'Percentage Score']
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C.A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]
student_datasets = [header, student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

<h3>Question: Write a function named extract() that can extract any column you want from the student_datasets.
The function should take in the index number of a column as input (name the parameter whatever you want)
Inside the function's definition, complete the following:
Create an empty list
Loop through the student_datasets dataset (excluding the header).
Extract only the value you want by using the parameter (which will be an index number)
Append that value to the empty list
Return the list containing the values of the column
Use the extract() function to extract the values in the Faculty column and store them in a variable named faculties.
Use the extract() function to extract the values in the Semester column and store them in a variable named semesters.

In [ ]:
def extract(index_number):
    empty_list = []
    for items in student_datasets[1:]:
         empty_list.append(items[index_number])
    return empty_list

In [ ]:
extract(0)

In [53]:
def extract(index_number):
    empty_list = []
    for items in student_datasets[1:]:
         empty_list.append(items[])
    return empty_list

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4214947816.py, line 4)

<h1> loops in python

In [ ]:
student_datasets

In [ ]:
average = 0
total = 0

for items in student_datasets[1:]:
    list_of = []
    percentage = items[5]
    total = percentage + total
    list_of.append(percentage)
    print(type(list_of))
    print(type(percentage))
    
    
    
print(total/30)
print(list_of)

In [ ]:
list0 = [1,2,3,5,7,9,4]

In [ ]:
square = []
for item in list0:
    result= item * item
    square.append(result)

In [ ]:
for i in range(0,101,5):
    print(i)

In [ ]:
list = []
for i in range(0,20,2):
    result = i*i
    list.append(result)
print(list)

In [ ]:
list = []
for i in range(0,20):
    if i%2 != 0:
        list.append(i*i)
print(list)

list1 = [12, 13, 14, 15, 16, 18, 20, 21]
<h1>Python list comprehension technique

In [ ]:
list1 = [12, 13, 14, 15, 16, 18, 20, 21]
answer = [value+1 for value in list1 if value%2 == 1]
print(answer)

In [ ]:
list2 = [3,5,7,8,10,11]
ans = [value+1 for value in list2 if value%2 == 0]
print(ans)

In [ ]:
dict1 = {"name": "prabhat", "age": 23, "location": "manigram", "level": "bachelor",
        "faculty": "B.Sc.Cs.It", "weight": 70, "height": "5ft 5inch"}

In [ ]:
dict1.keys()

In [ ]:
dict1.items()

In [ ]:
dict1["name"]

In [ ]:
list_t = []
list_v = []
for key, value in dict1.items():
    list_t.append(key)
    list_v.append(value)
print(list_t)
print(list_v)

In [ ]:
ratings = ['4+', '9+', '12+', '4+', '17+', '4+', '9+', '4+', '12+', '17+', '9+',
           '4+', '12+', '9+', '12+', '4+', '17+', '4+', '12+', '12+', '17+',
           '9+', '9+', '4+', '4+', '9+', '12+', '17+', '12+', '17+']

In [ ]:
ratings_dict = {"4+": 0, "9+":0, "12+":0, "17+":0}

In [ ]:
for items in ratings:
    if items in ratings_dict:
        ratings_dict[items] += 1

In [ ]:
print(ratings_dict)

In [ ]:
student_datasets

<h1>From the given list, find out the frequency table for the following:

Frequency count table for gender.
Frequency count table for age.
Frequency count table for faculty.
Frequency count table for semester level.

In [ ]:
dict_gender = {}
for student in student_datasets[1:]:
    gender = student[1]
    if gender not in dict_gender:
        dict_gender[gender] = 1
        

       
    else:
        dict_gender[gender] += 1
print(dict_gender)

In [ ]:
student_datasets

In [ ]:
dict_age = {}
for students in student_datasets[1:]:
    age = students[2]
    if age not in dict_age:
        dict_age[age] = 1
    else:
        dict_age[age] += 1

In [ ]:
print(dict_age)

In [ ]:
student_datasets

<h2>Question: Write a function named freq_table() that generates a frequency table for any list.
The function should take in a list as input.
Inside the function's body, write code that generates a frequency table for that list and stores the table in a dictionary.
Finally, return the frequency table as a dictionary.
Use the freq_table() function on the faculties list (already defined from the previous exercise) to generate the frequency table for the faculites column and store the frequency table to a variable named faculties_ft.
Feel free to experiment with the extract() and freq_table() functions to easily create frequency tables for any column you want.

In [ ]:
def freq_table(inp_list):
    freq_dist = {}
    for items in inp_list:
        if items not in freq_dist:
            freq_dist[items] = 1
        else:
            freq_dist[items] += 1
    
    return freq_dist

In [ ]:
freq_table([1,1,5,9,3,8,9,3,8])

In [ ]:
age_list=[]
faculty_list =[]
gender_list = []
semester_list = []

for student in student_datasets[1:]:
    age_data = student[2]
    faculty_data = student[3]
    gender_data = student[1]
    semester_data = student[4]
    
    age_list.append(age_data)
    faculty_list.append(faculty_data)
    gender_list.append(gender_data)
    semester_list.append(semester_data)

In [ ]:
age_list

In [ ]:
semester_list

In [ ]:
faculty_list

In [ ]:
age_list

In [ ]:
freq_table(age_list)

In [ ]:
freq_table(semester_list)

In [ ]:
from datetime import datetime

In [ ]:
someday = dt.date(2023,12,2)

In [ ]:
from datetime import datetime as dt
current_time = dt.now()

In [ ]:
type(current_time)

In [ ]:
birthday = dt(2022,12,13)

In [ ]:
birthday.year

In [ ]:
birthday.month

<h3>Strp time function
syntax: time.strptime(string,format)
    string: The time in any format
    format: this is the directive ehich will be used to parse the given string

In [ ]:
day = "march 28,1998"

In [ ]:
d = dt.strptime(day,"%B %d,%Y")

In [ ]:
day

In [ ]:
type(day.split(" ")[0])

In [ ]:
import os

os.cwd function

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
os.mkdir("requirement.txt")

In [ ]:
os.listdir()

<h1> File handling in python

In [ ]:
import os

In [ ]:
os.mkdir("requirement.txt")

In [ ]:
os.listdir()

In [ ]:
os.path.exists('requirement.txt')

In [ ]:
f1 = open('requirement.txt', 'w')

In [ ]:
f1.write("hello i am amu")

In [ ]:
os.listdir()

In [ ]:
os.path.exists('Balaji Fast Food Sales.csv')

In [ ]:
csv_file = open('Balaji Fast Food Sales.csv')

In [ ]:
type(csv_file)

In [ ]:
from csv import reader

In [ ]:
data = reader(csv_file)

In [ ]:
type(data)

In [ ]:
dataset = list(data)

In [ ]:
dataset

In [ ]:
import numpy as np

In [ ]:
age_of_student = np.array([1,2,3,4])

In [ ]:
age_of_student

In [ ]:
amu =[]
for items in range(0,1000000):
    amu.append(items)

In [ ]:
from sys import getsizeof

In [ ]:
print(getsizeof(age_of_student))

In [ ]:
list1 = np.array([1,2,3,4])

In [ ]:
print(getsizeof(list1))

In [ ]:
print(getsizeof(amu))

In [18]:
amu1 = np.array(amu)

NameError: name 'np' is not defined

In [ ]:
print(getsizeof(amu1))

<h1>Dimension in array

In [ ]:
list = [1,2,3,4]

In [ ]:
one_dimension_array = np.array([list])

In [ ]:
two_dimension_array = np.array([[1,2,3,4], [5,6,7,8]])

In [ ]:
one_dimension_array.ndim

In [ ]:
four_dimension_array = np.array([[[[1,2,3,4], [5,6,7,8]]]])

In [ ]:
four_dimension_array.ndim

In [ ]:
print(len(two_dimension_array))

In [ ]:
two_dimension_array.shape

In [ ]:
result = np.add(two_dimension_array,two_dimension_array)

In [ ]:
result

In [ ]:
a1 = np.array([[7,6,5,4], [8,9,12,15]])
a2 = np.array([[11,19,20,21], [23,24,25,27]])

In [ ]:
a1

In [ ]:
a2

In [ ]:
np.add(a1, a2)

In [ ]:
np.multiply(a1, a2)

In [ ]:
np.divide(a1,a2)

In [ ]:
np.power(a1,2)

In [ ]:
np.min(a1)

In [ ]:
a1

In [ ]:
np.min(a1,axis=1)

In [ ]:
np.max(a1, axis = 1)

In [ ]:
a1

In [ ]:
np.min(a2, axis =1)

In [ ]:
array1 = np.random.randint(10, 256, 256, 3)

In [ ]:
array1

In [ ]:
np.max(array1, axis=1)

In [ ]:
ar = np.random.randint(15,50,(3,4))

In [ ]:
ar

In [ ]:
np.shape(ar)

In [ ]:
np.max(ar, axis=0)

In [ ]:
np.argmin(ar,axis = 0)

In [ ]:
np.sin(ar)

In [ ]:
a5 = np.random.randint(12,80,(12,2))

In [ ]:
a5

In [ ]:
a5 = np.reshape(a5,(4,6))

In [ ]:
a5

In [ ]:
[0,0][0,1][0,2][0,3][0,4][0,5]
[1,0][1]

In [ ]:
a5[1,1]

In [ ]:
np.zeros([2,5])

In [ ]:
np.ones([9,4])

In [ ]:
np.empty(2)

In [ ]:
np.arange()

In [ ]:
np.arange(1,20,2)

In [ ]:
np.eye(4,4,-1)

In [ ]:
a0 = np.random.randint(2,30,(5,5))

In [ ]:
a0

In [ ]:
a0[1:3,3:5]

In [ ]:
df1 = pd.DataFrame({'Name': ['Prabhat', 'Hari', 'Shyam',
                             'Sita', 'Mahima', 'Sunil', 'Bhawana'],
                   'Age': [24,34,50,32,18,23,22],
                   'Address': ['Manigram', 'Dhanewa', 'Bardaghat', 'Manglapur',
                              'Bharatpur', 'Kathmandu', 'Ramechap']})

In [ ]:
import pandas as pd

In [ ]:
df1

Question 1
Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.
Select the rank, revenues, and rank_change columns in f1000. Then, use the df.head() method to select first five rows.
Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.
Select the value in first row of the company column. Assign the result to company_value.
Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.
Select the first to seventh rows and the first five columns of the f1000 dataframe.

In [ ]:
from csv import reader
file = open("Fortune_1000.csv")
file_reader = reader(file)
data = list(file_reader)

In [ ]:
data

In [ ]:
f1000 = pd.DataFrame(data)

In [ ]:
f1000

In [ ]:
f1000.head(7)